<h1>Listing students</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>FavoriteMovie</th>
    </tr>
  </thead>

  <tbody>
  <% @students.each do |student| %>
    <tr>
      <% if @name_count[student.name] > 1 %>
        <td><%= student.name + " " + student.last_initial %></td>
      <% else %>
        <td><%= student.name %></td>
      <% end %>
      <td><%= student.movie %></td>
    </tr>
  <% end %>
  </tbody>
</table>
